<div class="main" id="medecin">
    <div class="bigImage">
        <div class="title">Le médecin</div>
    </div>
    <div class="doctorContainer">
        <div class="doctorImage">
            <img src="img/portrait.jpg" alt="portrait du médecin">
        </div>
        <div class="doctorName">Dr Madeleine Couty</div>
        <div class="doctorJob">Médecin Généraliste</div>
        <div class="doctorPhone">+32 XXX XX XX XX</div>
        <div class="doctorLanguage">Langues parlées: FR, EN</div>
    </div>
</div>