<div class="main" id="accueil">
    <div class="imgCover">
        <div class="title">Centre Médical Madeleine Couty</div>
        <div class="text">Le Centre Médical Madeleine Couty se situe au 79 rue du Monténégro, 1190 Forest. Il comporte un cabinet de médecine générale ouvert du lundi au vendredi.</div>
        <div class="rdvButton"><a href="">Prendre Rendez-vous</a></div>
    </div>
</div>
<div class="servicesContainer">
    <div class="imgContainer">
        <img [src]="images[currentImgIndex]" alt="Slideshow image">
    </div>
    <div class="right">
        <div class="title">Services proposés :</div>
        <div class="services">
            <ul>
                <li>Consultations</li>
                <li>Prescriptions</li>
                <li>Vaccinations</li>
                <li>Certificats médicaux</li>
                <li>Prise de tension</li>
                <li>Prise de sang</li>
                <li>Test de dépistage</li>
                <li>Electrocardiogramma</li>
                <li>Gynécologie</li>
                <li>Check up</li>
            </ul>
        </div>
    </div>
</div>