<div class="main" id="consultation">
    <div class="left">
    </div>
    <div class="right">
        <div class="bigContainer">
            <div class="container">
                <div class="title">Consultations</div>
                <div class="text">
                    Les consultations se font uniquement sur rendez-vous.<br><br>
                    Des rendez-vous sont disponibles du lundi au samedi de 9h à 17h. <br><br>
                    1 rendez-vous = 1 personne. <br><br>
                    Prendre rendez-vous avec un des médecins via l’agenda online (de préférence) ou en appelant 
                    notre secrétariat au 02/751.51.62 (du lundi au vendredi de 8h à 18h).
                </div>
                <div class="rdvButton"></div>
            </div>
        </div>
    </div>
</div>